BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true # Allows short if statements on a single line for conciseness
AllowShortFunctionsOnASingleLine: Inline # Allows short functions on a single line for conciseness
ColumnLimit: 120
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
BinPackParameters: true # Allows packing parameters into fewer lines for better readability
BinPackArguments: true # Allows packing arguments into fewer lines for better readability
